
<h1><%= title %></h1>


<p> La struttura <%= nomeS %> comunica che dal giorno <%= check_in %> al <%= check_out %> ha pernottato il seguente cliente nei propri locali</p>

<h3>Dati cliente: </h3>
<p> Nome: <%= nome %></p>
<p> Cognome : <%= cognome %></p>
<p> Data di nascita: <%= data_nascita %></p>
<p> Città di nascita: <%= citta_nascita %></p>
<p> Città di residenza: <%= citta_residenza %></p>

<p> In allegato alla suddetta mail è presente il documento rilasciato dal cliente</p>
