
<h1><%= title %></h1>


<p> Ciao <%= nome %>, </p>
<p> hai ricevuto una nuova prenotazione per la tua struttura <%= nomeS %>, dal <%= check_in %> al <%= check_out %></p>
<p> richieste particolari: <%= richieste %></p>
<p> Per confermarla recati sulla nostra dashboard http://localhost:3000/prenotazioniPending </p>


