<h1><%= title %></h1>

<p> La struttura <%= struttura.nome %> , con quota di soggiorno pari a  <%= struttura.tassa %>€ , comunica la lista dei pernottamenti dei clienti: </p>

<h3>Dati dei clienti: </h3>

<ul>
        <% utenti.forEach(function(utente){ %>
                <p> Nome: <%= utente.nome %></p>
                <p> Cognome : <%= utente.cognome %></p>
                <p> Data di nascita: <%= utente.data_nascita %></p>
                <p> Città di nascita: <%= utente.citta_nascita %></p>
                <p> Città di residenza: <%= utente.citta_residenza %></p>
                <p> Check-in: <%= utente.check_in %></p>
                <p> check-out: <%= utente.check_out %></p>
                <p> ____________________________________________________</p>
        <% }); %>
</ul>
